---

// export interface Props {
//     nomMaison: string;
//     adresse: string;
//     prix: number;
//     surface: number;
//     nbChambres: number;
//     nbSdb: number;
//     favori: boolean;
//     imgUrl: string;
//     id?: string;
// }

const {id, prenom, nom, email} = Astro.props;
---
<div class="border rounded-lg shadow-md p-4 m-4 max-w-sm">
    <div class="p-4">
        <h2 class="text-2xl font-bold mb-2">{nom}</h2>
        <p class="text-blue-300"><strong>Prenom :</strong> {prenom}</p>
        <p class="text-blue-300"><strong>Mail :</strong> {email}</p>
    </div>
</div>


